html, body {
    margin: auto;
    padding: auto;
}

.gallery {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px ;
    grid-template-rows: 200px 200px 200px ;
    grid-gap: 50px;
    width: 50%;
    justify-items: center;
    margin: auto;
}
img{
    border: solid black 1px;
    border-radius: 5px;
}

.searchbar {
    width: 30%;
    border: solid grey 2px;
    border-radius: 15px;
    height: 35px;
    padding: 0 10px 0 10px;
}
.search-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
